# PostgreSQL
POSTGRES_DB=teamsec
POSTGRES_USER=teamsec
POSTGRES_PASSWORD=teamsec_secret
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Django (adapter/)
DJANGO_SECRET_KEY=change-me-use-a-long-random-string-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,adapter

# Harici Banka
BANK_BASE_URL=http://external_bank:8001

# Adapter (api/ → adapter/ iletişimi)
ADAPTER_BASE_URL=http://adapter:8002

# JWT (api/)
JWT_SECRET_KEY=change-me-jwt-secret-in-production
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60
